<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>NewsPortal</display-name>

    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>by.pvt.herzhot.controller.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>300</session-timeout>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

    <filter>
        <filter-name>Encoding</filter-name>
        <filter-class>by.pvt.herzhot.filters.EncodingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>Security</filter-name>
        <filter-class>by.pvt.herzhot.filters.SecurityFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SessionClosing</filter-name>
        <filter-class>by.pvt.herzhot.filters.SessionClosingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Encoding</filter-name>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Security</filter-name>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionClosing</filter-name>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>pages/index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/pages/jsp/error/error_404.jsp</location>
    </error-page>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <scripting-invalid>true</scripting-invalid>
        </jsp-property-group>
    </jsp-config>

</web-app>