<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQL5InnoDBDialect
        </property>
        <property name="hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/hibertest
        </property>
        <property name="hibernate.connection.username">
            root
        </property>
        <property name="hibernate.connection.password">
            1234
        </property>

        <!-- Use the C3P0 connection pool provider -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <property name="hibernate.cache.use_second_level_cache">true</property>

        <!-- Show and print nice SQL -->
        <!--<property name="show_sql">true</property>-->
        <!--<property name="format_sql">true</property>-->

        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <!-- Mapping files -->
        <mapping resource="Author.hbm.xml"/>
        <mapping resource="CategoryOfNews.hbm.xml"/>
        <mapping resource="BillingDetails.hbm.xml"/>
        <mapping resource="Teacher.hbm.xml"/>
        <mapping resource="Address.hbm.xml"/>
        <mapping resource="Department.hbm.xml"/>
        <mapping resource="Meeting.hbm.xml"/>

    </session-factory>
</hibernate-configuration>